[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=F.LUX
Comment=F.LUX application
Exec=bash -l -c "flux"
StartupNotify=false
Terminal=false
Hidden=false
